<p id="notice"><%= notice %></p>

<p>
  <strong>Attribute name:</strong>
  <%= @attribute.attribute_name %>
</p>

<p>
  <strong>Attribute description:</strong>
  <%= @attribute.attribute_description %>
</p>

<%= link_to 'Edit', edit_attribute_path(@attribute) %> |
<%= link_to 'Back', attributes_path %>
